# Environnement Python
venv/
__pycache__/

# Dossiers contenant les données volumineuses
data/raw/
data/processed/

# Modèles volumineux ou checkpoints
models/*.pkl
models/*.h5
models/*.joblib

# Logs MLflow
mlruns/