# Core ML Libraries
pandas
numpy
scikit-learn
joblib

# DVC (pour le pipeline, même s'il ne tourne pas dans l'API)
dvc

# Web API (pour le déploiement)
flask
gunicorn

# Dépendances restantes
idna
charset-normalizer
urllib3
requests