name: CI/CD Pipeline MLOps - Docker Build & Push

# Déclencheur : s'exécute à chaque push sur la branche principale
on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: 1. Checkout du code (récupère le code et les fichiers DVC)
        uses: actions/checkout@v4
        with:
          # fetch-depth: 0 est utile pour s'assurer que DVC fonctionne
          fetch-depth: 0 

      - name: 2. Connexion à Docker Hub (utilise les Repository Secrets)
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: 3. Définition du Tag Docker (nommage de l'image)
        id: meta
        uses: docker/metadata-action@v5
        with:
          # REMPLACEZ CE PLACEHOLDER PAR VOTRE NOM D'UTILISATEUR DOCKER HUB !
          images: 177777771/telco-churn-api 
          # Tags l'image avec 'latest' et l'identifiant court du commit (SHA)
          tags: |
            type=raw,value=latest,enable=true
            type=sha,prefix=,suffix=,enable=true

      - name: 4. Construction et Push de l'Image Docker
        uses: docker/build-push-action@v5
        with:
          context: . # Utilise le répertoire courant comme contexte
          push: true # Pousse l'image vers Docker Hub après la construction
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          file: ./Dockerfile # Utilise votre Dockerfile final et fonctionnel